.match {
    display: flex;
    flex-direction: row;
}

.square {
    width: calc(90vw / 8);
    height: calc(90vw/ 8);

}

.color-1{
    background-color: #dcb76a;
}

.color-0{
    background-color: black;
}

.container__match {
    position: relative;
}

.active {
    background-color: red;
}
.green {
    background-color: green;
}
.player__1 {
    transform:  scaleX(-1) 
}

.player__2 {
    transform:  scaleX(-1) rotate(180deg)  
}

.your__turn{
    color: green;
}

.opponent__turn {
    color: red;
}

.chat {
    margin-top: 10px;
    background-color: #0c141a;
    width: 100%;
    min-height: 18vh;
    overflow-y: auto;
    display: flow-root;
}

.message {
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px
}

.input {
    width: 100%;
    background-color: #2a3942;
    border-radius: 5px;
    border: 0;
    padding: 10px;
    margin: 5px;
}

.send__img {
    width: 24px;
    height: 24px;
}

.left__message {
    background-color: #1f2c33;
    
}

.right__message {
    background-color: #015c4b;

}



.container__input__text{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 88%;
}

.container__message {
    padding: 10px;
    width: 100%;
    font-size: 9px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 5px;
}

.left {
    text-align: start;
}

.right {
    text-align: right;
}

.input__send {
    width: 10%;
    font-size: 12px;
    width: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.field__circle{
    width: calc(90vw / 8);
    height: calc(90vw/ 8);
    position: absolute;
    z-index: 20;
    transition: all 1s linear;
      
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #1f2c33;
}

$sizes: 0,1,2,3,4,5,6,7;


@each $column in $sizes {
  @each $row in $sizes {
  .lady-#{$column}-#{$row} {
    top: calc((90vw / 8) * $column );
    left: calc((90vw / 8) * $row)
    }
  }
}

