<ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <img src="../../assets/wolf.png" class="img" />
    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
      <ion-item class="b">
        <ion-label position="floating">nickname</ion-label>
        <ion-input class="input" formControlName="nickname"></ion-input>
      </ion-item>
      <ion-item class="b">
        <ion-label position="floating" type="password">password</ion-label>
        <ion-input formControlName="password" class="input"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Pet</ion-label>

        <img (click)="openModal()" class="selected__img" [src]="'../../assets/users/' + selectedImage" />
      </ion-item>
      <p class="sigin__text">
        You already you have an account?
        <a [routerLink]="['/login']" class="signin__signin__text">login in!</a>
      </p>

      <div class="container_button">
        <ion-button type="submit">Login</ion-button>
      </div>
    </form>
  </div>

  <app-modal-selector-image
    [isOpen]="ismodalOpen"
    (closeModal)="closeModal()"
    (selectedUrl)="emitted($event)"
  ></app-modal-selector-image>
</ion-content>
