


 <ion-modal [isOpen]="isOpen">
  <ng-template>
    <ion-content>
<ion-header translucent>
  <ion-toolbar>
    <ion-title>Modal Content</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="handleCloseModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list *ngIf="users">
    <div class=" user">
    <ion-item  (click)="handleSelectedUser(item)" *ngFor="let item of users">
      <ion-avatar slot="start">
        <img [src]="'../../../assets/users/' + item.cover" />
      </ion-avatar>
      <ion-label>
        {{ item.nickname }}
      </ion-label>
    </ion-item>
    </div>
  
  </ion-list>

  </ion-content>

</ion-content>
</ng-template>
</ion-modal>

